requests
selenium
streamlit
pandas
pandas_ta
plotly.io
plotly.graph_objects
plotly.subplots
ta
re
numpy
datetime
time
yfinance
streamlit.components.v1
bs4
urllib.request
prophet
prophet.plot
plotly
matplotlib